# Build artifacts
android/app/build/
android/.gradle/
android/local.properties
windows/src-tauri/target/
windows/target/
**/target/
**/*.apk.bak

# IDE
.idea/*
!.idea/codeStyles
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store
