*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/libbox_ext/build/
/rust-core/target/
/sing-box/
/gradle.zip
/gradle-8.1.1/
/temp_aar/
/libbox_ext/
/app/libs/
